@font-face {
  font-family: "NeueHaasDisplay-Mediu";
  src: url("fonts/NeueHaasDisplay-Mediu.woff") format("woff"), url("fonts/NeueHaasDisplay-Mediu.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NeueHaasDisplay-Roman";
  src: url("fonts/NeueHaasDisplay-Roman.woff") format("woff"), url("fonts/NeueHaasDisplay-Roman.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Iridium LT W02 Italic";
  src: url("fonts/Iridium LT W02 Italic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NeueHaasDisplay-RomanItalic";
  src: url("fonts/NeueHaasDisplay-RomanItalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Clearface T.";
  src: url("fonts/Clearface T..ttf") format("truetype");
}

@font-face {
  font-family: "Clearface Heavy T.";
  src: url("fonts/Clearface Heavy T..ttf") format("truetype");
}

@font-face {
  font-family: "SourceSerifPro-Regular";
  src: url("fonts/SourceSerifPro-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "SourceSerifPro-Italic";
  src: url("fonts/SourceSerifPro-Italic.ttf") format("truetype");
}
@import url("https://fonts.googleapis.com/css2?family=Amiri&family=DM+Serif+Text&display=swap");

main {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  justify-items: center;
}
.abstract {
  font-size: 1.5rem;
  letter-spacing: 0;
  text-align: left;
}
/* Alphabet reform */
.bodyheader {
  margin: 0;
  padding: 0;
  /* height: 200vh; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
  font-family: "NeueHaasDisplay-Mediu";
  letter-spacing: 0.1rem;
  font-size: 3rem;
  color: #222222;
}

h3 {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100px;
  margin-top: 15px;
  overflow: hidden;
  font-weight: normal;
}

h3 .span {
  display: flex;
  width: 100%;
  height: 100%;
  /* display: grid; */
  align-items: center;
  justify-content: center;
}

h3:hover .span {
  animation: shuffle steps(6) 4s infinite;
}

@keyframes shuffle {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-600px);
  }
}
.biblio p {
  font-size: 1rem;
  max-width: 51em;
  text-align: left;
  border-left: 0;
  border-right: 0;
}

/* Image */
.img1 img {
  max-width: 910px;
  height: auto;
  margin-top: 20px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.img2 img {
  max-width: 1567px;
  height: auto;
  margin-top: 40px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.imgside {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 17%;
  /* background-color: lime */
}

.imgside img {
  max-width: 250px;
  height: auto;
  margin-left: 40px;
  /* margin-top: -630px; */
  /* place-items: left; */
  /* float: left; */
  /* position: absolute; */
}

.img3 img {
  max-width: auto;
  height: 483px;
  margin-top: 40px;
  float: left;
  padding: 10px;
}


.topimg img{
  max-width: 100%;
  height: auto;
}
.topimg {
  width: 100%;
  margin-top: 40px;
  position: relative;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.topimg .img4 {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.topimg:hover .img4 {
  display: inline;
}

/* image description */
.overlay-slide {
  position: relative;
  box-sizing: border-box;
  height: auto;
  max-width: 910px;
  overflow: hidden;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 100%
}

.overlay-slide:hover p {
  transform: translate(0, 0);
  transition: all 0.2s ease-in;
  max-width: 910px;
  width: 100%;
}

.overlay-slide p {
  position: absolute;
  box-sizing: border-box;
  bottom: 0;
  transform: translate(0, 100%);
  padding: 15px;
  text-align: center;
  transition: all 0.2s ease-in;
  max-width: 910px;
  text-indent: 0;
  background-color: white;
  margin-bottom: 0;
}

.overlay-slide p {
  font-family: "NeueHaasDisplay-Roman";
  font-size: 14px;
  color: black;
  text-align: left;
}

/* image description2 */
.overlay-slide2 {
  position: relative;
  box-sizing: border-box;
  height: auto;
  max-width: 1567px;
  overflow: hidden;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 100%
}

.overlay-slide2:hover p {
  transform: translate(0, 0);
  transition: all 0.2s ease-in;
  max-width: 1567px;
  width: 100%;
}

.overlay-slide2 p {
  position: absolute;
  box-sizing: border-box;
  bottom: 0;
  transform: translate(0, 100%);
  padding: 15px;
  text-align: center;
  transition: all 0.2s ease-in;
  max-width: 1567px;
  text-indent: 0;
  background-color: white;
  margin-bottom: 0;
}

.overlay-slide2 p {
  font-family: "NeueHaasDisplay-Roman";
  font-size: 14px;
  color: black;
  text-align: left;
}
