@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Nanum+Myeongjo&display=swap');

:root {
    font-size: 16px;
}

html {
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
}

h1 {
    font-size: 4.2rem;
    letter-spacing: -0.1rem;
    word-spacing: -0.5rem;
    font-size: clamp(4.2rem, 1.04rem + 15.8vw, 20rem);
}